<h1>All Demons</h1>

<%= link_to "Create New Demon!", new_demon_path %>
<hr />

<ul>
  <% @demons.each do |demon| %>
    </li>
    <img src="<%= demon.image_url %>" width="300" height="300">
    <li>
      <%= link_to demon.name, demon %>
      </a>
    <hr />
  <% end %>
</ul>




