<h1>All Demons</h1>

<% @demons.each do |demon| %>
  <h2><%= demon.name %></h2>
  <ul>
  <p><h4> Title: <%= demon.title %> </h4></p>
  <p><h4>Description:</h4></p>
  <p><%= demon.description %></p>
  <%= demon.image_url %>
  </ul>
<% end %>
