<h1>All Demons</h1>

<ul>
  <% @demons.each do |demon| %>
    <li>
      <%= link_to demon.name, demon %>
      </a>
    </li>
    <img src="<%= demon.image_url %>" width="200" height="200">
  <% end %>
</ul>


<%= link_to "Create New Demon!", new_demon_path %>


